<nav class="nav flex-column justify-content-between bg-light">
  <div>
    <img class="p-4" src="../assets/images/logo-ANSWER.svg" alt="logo" />
    <h1 class="d-none">ANSWER</h1>
    <a class="nav-link link-dark d-flex fw-bold" aria-current="page" href="#">
      <span class="material-icons me-3"> assessment </span>
      Dashboard
    </a>

    <a class="nav-link link-dark d-flex fw-bold" aria-current="page" href="#">
      <span class="material-icons me-3"> forum </span>
      Question
    </a>
    <a class="nav-link link-dark d-flex fw-bold" aria-current="page" href="#">
      <span class="material-icons me-3"> assignment </span>
      Assignment
    </a>
    <a
      class="nav-link link-dark d-flex align-middle fw-bold"
      aria-current="page"
      href="#"
    >
      <span class="material-icons me-3"> video_library </span>
      Course
    </a>
    <a
      class="nav-link link-success d-flex active align-middle fw-bold"
      aria-current="page"
      href="../pages/admin.html"
    >
      <span class="material-icons me-3"> supervisor_account </span>
      Admin
    </a>
    <a
      class="nav-link link-dark d-flex align-middle fw-bold"
      aria-current="page"
      href="#"
    >
      <span class="material-icons me-3"> settings </span>
      Settings
    </a>
  </div>

     


    <div class="mb-4 ms-4 d-flex align-items-center">
      <img
        class="nav-avater"
        alt="user-avater"
        src="../assets/images/andychen.jpeg"
      />
      <div class="">
        <h3 class="fs-16 fw-bold dark">Andy Chen</h3>
        <a 
        href="mailto:andy0401@mail.com"
        class="d-block text-secondary"
      >
        andy0401@mail.com
      </a>
      </div>
    </div>
  </div>
</nav>
