<div class="d-flex d-inline-block mt-auto align-items-end">
    <ul class="pagination">

      <li class="pagination__first text-success">
        <span class="material-icons icon-vertical-align">chevron_left</span>
      </li>

      <li class="pagination__item border-start-0 dark">1</li>
      <li class="pagination__item border-start-0 dark">2</li>
      <li class="pagination__item border-start-0 dark">3</li>

      <li class="pagination__last border-start-0 text-success">
        <span class="material-icons icon-vertical-align">chevron_right</span>
      </li>
    
    </ul>
  </div>